
body {
    background-color: rgb(189, 187, 187);
}

header {
    background-color: black;
}
#background {
    background-image: url("https://4kwallpapers.com/images/wallpapers/dark-background-abstract-background-network-3d-background-3840x2160-8324.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 250px;
}

#menu {
    display: flex;
    justify-content: flex-end;
    margin: 0 15%;
}
#menu li {
    padding: 10px 20px;
}
#menu li:hover {
    background-color: rgb(65, 65, 65);
}
#menu li a {
    color: white;
    font-size: 30px;
}

#corpo {
    margin: 0 15%;
    background-color: rgb(221, 221, 221);
    min-height: 500px;
    padding: 40px 5%;
}

.principal {
    min-height: 100px;
    margin: 40px 0;
    padding: 1%;
    border-left: 4px solid rgb(65, 65, 65);
}



.principal h1 {
    margin-bottom: 20px;
}

.grid {
    display: grid;
}
.coluna-3 {
    grid-template-columns: repeat(3, 4fr);
    gap: 10px;
}
#card {
    justify-content: space-between;
}
#card li {
    max-width: 100%;
    background-color: rgb(65, 65, 65);
    color: rgb(192, 192, 192);
    padding: 2%;
}
#fotoPerfil {
    clip-path: circle(50%);
    width: 100%;
    margin-bottom: 20px;
    border-width: 1%;
}
#fotos div {
    display: flex;
    justify-content: space-between;
}

#fotos div img {
    width: 32%;
}

.grid-footer {
    grid-template-columns: 20% 20% 60%;
}

footer{
    background-color: rgb(65, 65, 65);
    color: white;
    padding: 15px 15%;
}

footer ul li ul {
    display: block;    
    color: rgb(192, 192, 192);
    align-items: center;
}


footer ul li ul li {
    padding: 10px 0;
}
#foologo {
    display: grid;
    justify-content: center;
}

#foologo img {
    width: 150px;
    height: 150px;
}
#foomenu, #foocontato {
    padding-left: 10px;
    border-left: 2px solid white;
}
#foomenu a {
    color: rgb(192, 192, 192);
}
